@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	font-family: "Montserrat", sans-serif;
	color: #813123;
}

h1 {
	font-weight: bold;
}

h5 {
	font-size: 1em;
	line-height: 2;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

img {
	max-width: 300px;
}

.navbar-custom {
	background: #813123;
}

.navbar-brand {
	font-size: 0.8em;
}

.nav-link {
	font-size: 0.8em;
}

.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.content {
	padding: 5rem;
	margin: 0 auto;
}

#services-header {
	padding-bottom: 40px;
	color: white;
	font-weight: bold;
}

#portfolio-header {
	padding-bottom: 40px;
	color: #9d5a4c;
	font-weight: bold;
}

.social-link {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #c6705e;
  color: white;
 }

.social-link:hover {
	text-decoration: none;
	background-color: #df9c8e;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #590000;
  color: white;
}

.card-img-top {
	max-height: 222px;
}

#card-title {
	color: black;
	font-size: 1.2em;
}

#card-title:hover {
	background-color: #9d5a4c;
	color: white;
}

#page-top {
	min-height: 100vh;
	height: 100vh;
	background-color: white;
}

#intro {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#about {
	background-color: #9d5a4c;
	color: white;
}

#portfolio {
	background-color: white;
	color: black;
	font-size: 14px;
}

#services {
	background-color: #9d5a4c;
	color: white;
}

#services-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0.7em;
}