@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

body {
	font-family: "Baloo Paaji 2", sans-serif;
}

h1 {
	padding-top: 2rem;
}

a {
	color: darkblue;
}

a:hover {
	text-decoration: none;
	color: lightblue;
}

.content {
	padding: 5rem;
	margin: 0 auto;
}

.social-link {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  background-color: #212529;
  color: white;
 }

.social-link:hover {
	text-decoration: none;
	color: grey;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

.card-img-top {
	max-height: 222px;
}

#page-top {
	min-height: 100vh;
	height: 100vh;
	background-color: white;
}

#intro {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#about {
	background-color: lightblue;
	color: white;
}

#contact {
	background-color: lightblue;
	color: white;
}

#services-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}